@font-face {
    font-family: 'Zector';
    src: url(Zector.ttf) format('truetype');
}

.menu_head {
    font-family: 'Zector', sans-serif;
    font-weight: bold;
    color: black;
    position: relative;
    top: 150px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;
    font-size: 270%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10%;
}

body {
    background-color: snow;
}

.menu_and_image_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu_head {
    font-family: 'Zector', sans-serif;
    font-weight: bold;
    color: black;
    font-size: 270%;
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
    left: -20px;
}

    .menu_head a {
        color: Black;
        text-decoration: none;
    }

        .menu_head a:hover {
            color: #7A7A7A;
        }

.header img {
    width: 500px;
    height: auto;
    padding-left: 140px;
}

.kontakti {
    font-family: 'Zector', sans-serif;
    font-weight: bold;
    color: black;
    position: relative;
    top: 0px;
    font-size: 350%;
}


.kontakti {
    font-family: 'Zector', sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.contact-info1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.contact-info {
    font-size: 32px;
    margin-bottom: 10px;
}
